{% extends "base.html" %}

{% block container %}
  <div class="title">
    <h1><i class="bi bi-people-fill"></i> Dashboard Base</h1>
  </div>
  <div class="block">
    <h3>Users</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>All Users</th>
          <th>{{ users_all }}</th>
        </tr>
        <tr>
          <th>Active Users</th>
          <th>{{ users_active }}</th>
        </tr>
        <tr>
          <th>Blocked Users</th>
          <th>{{ users_blocked }}</th>
        </tr>
        <tr>
          <th>Staff Users</th>
          <th>{{ users_staff }}</th>
        </tr>
        <tr>
          <th>Users</th>
          <th>{{ users_normal }}</th>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock container %}

