{% extends "base-clear.html" %}

{% block container %}
  <div class="cont-struct">
    <div class="before">
      <a href="{% url 'pages:home' %}">
        <i class="bi bi-chevron-left before-icon"></i>
      </a>
    </div>
    <div class="content-center">
      <div class="form-background">
        <form method="POST">
          {% csrf_token %}
          <div class="input-field col s12">
            <label for="username">{{ form.username.label }}</label>
            {{ form.username }}
          </div>
          <div class="input-field col s12">
            <label for="password">{{ form.password.label }}</label>
            {{ form.password }}
          </div>
          <input class="btn-login" type="submit" value="Submit" \>
        </form>
      </div>
  </div>
  </div>
{% endblock container %}
