{% extends "content.html" %}
{% load static %}


{% block container %}
  <div class="title">
    <h3>{% if is_update %}<i class="bi bi-pencil-square"></i> Update Cameraperiphepal {{ object.pk }}{% else %}<i class="bi bi-clipboard-plus"></i> Create New Cameraperiphepal{% endif %}</h3>
  </div>

  <div class="block">
    <form method="POST" enctype="multipart/form-data">
{% csrf_token %}      <div class="input-field col s12">
        <label for="camera">{{ form.camera.label }}</label>
{{ form.camera }}      </div>
      <div class="input-field col s12">
        <label for="periphepal">{{ form.periphepal.label }}</label>
{{ form.periphepal }}      </div>
      <div class="buttons">
        <a class="btn btn-secondary" href="{% if is_update %}{% url 'vmgabrieludfronts:cameraperiphepal-edit' pk=object.pk %}{% else %}{% url 'vmgabrieludfronts:cameraperiphepal-new' %}{% endif %}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="{% if is_update %}Update{% else %}Save{% endif %}">
      </div>
    </form>
  </div>

{% endblock container %}
