<a href="{% url 'vmgabrieludfronts:periphepaltypes' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">Periphepaltype</span>
</a>
<a href="{% url 'vmgabrieludfronts:periphepals' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">Periphepal</span>
</a>
<a href="{% url 'vmgabrieludfronts:cameras' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">Camera</span>
</a>
<a href="{% url 'vmgabrieludfronts:cameraperiphepals' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">Cameraperiphepal</span>
</a>
